/* *************768 px************* */
@media screen and (max-width: 768px) {

    /* All */
    .top_text {
        font-size: 40px;
    }

    .ctrl {
        width: 95%;
    }

    .pits {
        width: 30%;
        bottom: 3%;
    }

    /* All */

    /* IndexTop */
    .top_logo {
        width: 20%;
        padding: 3.5% 0;
    }

    .top_box {
        width: 80%;
    }

    .top_api {
        justify-content: space-evenly;
    }

    .top_api #inner_box {
        display: flex;
    }

    .api_box {
        height: 5vw;
        margin: 0;
    }

    .cities {
        height: 90%;
        width: 70%;
    }

    .search {
        width: 30%;
    }

    .api_text {
        flex-wrap: wrap;
        margin: 1.5% auto 0;
    }

    .api_text div {
        padding: 0 2.8%;
    }

    .top_inner {
        display: none;
    }

    .menu_top a {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        font-size: 10px;
    }

    .menu_top button {
        width: 90px;
        height: 22px;
        font-size: 12px;
        border-radius: 5px;
    }

    .menu_inner {
        display: flex;
    }

    #top_menu input {
        height: 22px;
        font-size: 16px;
        text-indent: 35px;
    }

    #top_menu h1 {
        font-size: 22px;
    }

    #top_menu p {
        font-size: 13px;
    }

    /* IndexTop */

    /* News */
    .news_box {
        border-radius: 5px;
        width: 90%;
        margin-top: 3.5%;
    }

    .news_img img {
        height: 45vw;
    }

    .news_box:nth-of-type(1) {
        margin-top: 0;
    }

    /* News */

    /* Achievements */
    .achie_box {
        width: 40%;
        height: 35vw;
    }

    .achie_box:nth-of-type(1),
    .achie_box:nth-of-type(2) {
        margin-bottom: 5%;
    }

    /* Achievements */

    /* ContactUs */
    .cont {
        width: 40%;
        height: 40vw;
    }

    .cont_box p {
        font-size: 20px;
    }

    /* ContactUs */

    /* CountdownTimer */
    #CountdownTimer {
        margin-top: 5%;
        height: 65vw;
    }

    .count_text {
        font-size: 50px;
    }

    .count_time {
        width: 24%;
    }

    .count_date {
        font-size: 50px;
    }

    .count_name {
        font-size: 25px;
    }

    /* CountdownTimer */

    /* TouristGallery */
    .tour_box {
        width: 48%;
        margin: 3% 1% 0;
    }

    .tour_box:nth-of-type(2),
    .tour_box:nth-of-type(4) {
        margin: 0 1%;
    }

    .tour_box a {
        margin: 0 2.5% 0;
    }

    .tour a,
    #about_video a {
        top: -10px;
        right: -10px;
        width: 22px;
        height: 22px;
        border-radius: 5px;
        font-size: 15px;
    }

    /* TouristGallery */

    /* AboutUs */
    .about_box {
        width: 90%;
        margin: 0 auto;
    }

    .about_videos {
        width: 90%;
        margin: 3% auto;
    }

    /* AboutUs */

    /* IndexBottom */
    .index_bottom {
        padding: 1% 0;
        margin-top: 2%;
    }

    .bottom_img {
        width: 35%;
    }

    .index_bottom p {
        font-size: 18px;
    }

    /* IndexBottom */
}

/* *************480 px************* */
@media screen and (max-width: 480px) {

    /* All */
    .top_text {
        font-size: 32px;
        margin: 7.5% auto 3.5%;
    }

    .ctrl {
        width: 90%;
    }

    .pits {
        width: 45%;
        bottom: 5%;
    }

    /* All */

    /* IndexTop */
    .top_logo {
        width: 25%;
        padding: 7.5% 0;
    }

    .top_box {
        width: 75%;
    }

    .api_box {
        height: 7.5vw;
        margin: 0;
    }

    .cities {
        height: 89%;
        font-size: 16px;
        width: 70%;
        text-indent: 15px;
    }

    .api_text {
        width: 95%;
        margin: 3% auto 0;
    }

    .api_text div {
        padding: 0 1.5%;
        font-size: 14px;
    }

    #top_menu {
        width: 93.7%;
        padding: 15px;
        padding-top: 0;
    }

    .menu_top a {
        width: 25px;
        height: 25px;
        border-radius: 7px;
        font-size: 15px;
    }

    .menu_top button {
        width: 120px;
        height: 30px;
        font-size: 14px;
        border-radius: 7px;
    }

    .menu_inner a {
        padding: 0 3%;
    }

    #top_menu input {
        height: 25px;
        font-size: 16px;
    }

    #top_menu h1 {
        font-size: 24px;
    }

    #top_menu p {
        font-size: 14px;
    }

    /* IndexTop */

    /* News */
    .news_box {
        border-radius: 7px;
        margin-top: 5%;
    }

    .news_img img {
        height: 50vw;
    }

    .news_box h1 {
        font-size: 24px;
    }

    .news_inner div {
        font-size: 14px;
    }

    .news_inner button {
        font-size: 14px;
        border-radius: 7px;
        width: 100px;
        height: 30px;
    }

    /* News */

    /* Achievements */
    .achie_box {
        width: 90%;
        height: 65vw;
    }

    .achie_box:nth-of-type(1),
    .achie_box:nth-of-type(2),
    .achie_box:nth-of-type(3) {
        margin-bottom: 7%;
    }

    /* Achievements */

    /* ContactUs */
    .cont {
        width: 90%;
        height: 85vw;
        margin: 0% 0% 7.5%;
    }

    .cont_box p {
        font-size: 25px;
    }

    /* ContactUs */

    /* CountdownTimer */
    #CountdownTimer {
        height: 85vw;
    }

    .count_text {
        font-size: 35px;
    }

    .count_inner {
        flex-wrap: wrap;
    }


    .count_time {
        width: 45%;
    }

    .count_date {
        width: 35%;
        font-size: 45px;
    }

    .count_name {
        font-size: 20px;
    }

    /* CountdownTimer */

    /* TouristGallery */
    .tour_box,
    .tour_box:nth-of-type(4) {
        width: 100%;
        margin: 5% 0 0;
    }

    .tour_box:nth-of-type(2) {
        margin: 0;
    }

    /* TouristGallery */

    /* AboutUs */
    .about_videos {
        width: 90%;
        margin: 5% auto;
    }

    /* AboutUs */

    /* IndexBottom */
    .index_bottom {
        padding: 2.5% 0;
        margin-top: 2.5%;
    }

    .bottom_img {
        width: 50%;
    }

    .index_bottom p {
        font-size: 20px;
    }

    /* IndexBottom */

    /* TopButton */
    #top_button {
        bottom: 3%;
        right: 5%;
    }

    /* TopButton */
}