@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    src: url("../font/AlimamaFangYuanTiVF-Thin.woff2") format("woff2");
    font-display: swap;
}

* {
    font-family: "阿里妈妈方圆体 VF Regular";
    font-variation-settings: "BEVL" 100;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

body {
    background-color: #1c1c1e;
    position: relative;
    height: 750vh;
}

body::-webkit-scrollbar {
    display: none;
}

.top {
    position: relative;
}

.top_bg {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
}

.top_bg::after {
    content: '';
    position: absolute;
    bottom: -35%;
    height: 35%;
    width: 100vw;
    background: linear-gradient(180deg, #000000, #1c1c1e);
}

.top_bg img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_box {
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    border: 0.2rem solid #1c1c1e;
    transform: translateX(-50%);
    transition: all 0.5s;
    border-radius: 1rem;
    position: fixed;
    padding: 1%;
    z-index: 100;
    width: 95%;
    left: 50%;
}

.top_box.show {
    width: 75vw;
    padding: 0.7% 0%;
}

.top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_left {
    width: 35%;
    display: flex;
    transition: all 0.5s;
    justify-content: space-around;
    align-items: center;
}

.top_nav {
    width: 80%;
    display: flex;
    margin: auto;
    transition: all 0.5s;
    justify-content: space-around;
}

.top_left.show,
.top_left.show .top_nav {
    width: 100%;
}

.top_left a,
.top_left p {
    transition: all 0.5s;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #f2f2f7;
}

.top_left a:hover,
.homer div:hover~a {
    transform: scale(1.35);
    color: #1e6ef4;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15vw 1rem #f2f2f700;
    transition: all 0.5s;
    border: 0.2rem solid #1c1c1e;
    background-color: #f2f2f7;
    border-radius: 1rem;
    padding: 1.5%;
}

.logo img {
    transition: all 0.5s;
    width: 3vw;
}

.logo:hover {
    box-shadow: 0 0 1rem 0.5rem #f2f2f7;
}

.top_left.show .logo,
.top_left.show .logo img {
    width: 0;
    border: none;
    transform: scale(0%);
}

.homer {
    display: flex;
    position: relative;
}

.homer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    border: 0.2rem solid #f2f2f7;
    width: 15vw;
    left: 50%;
    bottom: -150%;
    transform: translateX(-50%) scale(0);
    border-radius: 1rem;
    padding: 15%;
    position: absolute;
    cursor: pointer;
}

.homer:hover div {
    transform: translateX(-50%) scale(1);
    bottom: -450%;
}

.homer div::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 60%;
    height: 40%;
}

.homer img {
    position: absolute;
    z-index: -1;
    border-radius: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top_right {
    width: 35%;
    position: relative;
    transition: all 0.5s;
    height: 2rem;
    right: 0%;
}

.top_right.show {
    transform: scale(0%);
    width: 0%;
}

.top_right label {
    position: absolute;
    bottom: 0.5rem;
    color: #f2f2f7;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 1.5rem;
    pointer-events: none;
    margin-left: 5%;
}

.top_right.show label {
    font-size: 0;
}

.search {
    width: 80%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    margin-left: 7%;
    margin-right: 15%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #f2f2f7;
    cursor: pointer;
}

.search:focus~label,
.search:valid~label {
    transform: translateY(-1.5rem);
    margin-left: 3%;
    font-size: 1.5rem;
    color: #1e6ef4;
}

.search_line1,
.search_line2 {
    position: absolute;
    background-color: #f2f2f7;
    bottom: -0.2rem;
    height: 0.2rem;
    border-radius: 1rem;
    width: 90%;
}

.search_line1 {
    transition: all 0.5s;
    background-color: #1e6ef4;
    transform: scaleX(0);
    z-index: 1;
}

.search:focus~.search_line1,
.search:valid~.search_line1 {
    transform: scaleX(1);
}

.search_b {
    display: flex;
    position: absolute;
    transition: all 0.5s;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: #f2f2f7 solid 0.2rem;
    background-color: #1c1c1e;
    border-radius: 50%;
    width: 50;
    height: 50;
    cursor: pointer;
}

.search_b svg {
    margin: auto;
    padding: 0.2rem;
    background-color: #f2f2f7;
    border: #f2f2f7 solid 0.2rem;
    transition: all 0.5s;
    color: #1c1c1e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.search:focus~.search_b,
.search:valid~.search_b {
    border-color: #1e6ef4;
}

.search:focus~.search_b svg,
.search:valid~.search_b svg {
    color: #f2f2f7;
    background-color: #1c1c1e;
}

.top_wea {
    margin: 1% auto 0;
    padding: 0 1%;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}

.top_wea.show {
    margin: auto;
    transform: scale(0%);
}

.top_wea div {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.top_wea p {
    color: #f2f2f7;
    font-weight: bold;
    transition: all 0.5s;
}

.top_wea.show p {
    font-size: 0;
}

.slider {
    margin-top: 3%;
    position: relative;
    transform: translateX(-50%);
    border: #1c1c1e solid 0.2rem;
    border-radius: 1rem;
    overflow: hidden;
    width: 75vw;
    left: 50%;
}

.sliderText {
    position: absolute;
    pointer-events: none;
    z-index: 2;
    top: .5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #f2f2f7;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.pic_list {
    position: relative;
    pointer-events: none;
}

.pic {
    position: absolute;
    inset: 0%;
    transition: all 0.5s;
    opacity: 0%;
    display: flex;
    align-items: center;
}

.pic_item {
    width: 100%;
}

.pic.live {
    opacity: 1;
    z-index: 1;
}

.pot_list {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
}

.pot {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 1rem;
    border: 0.2rem solid #f2f2f7;
    background-color: #1c1c1e;
}

.pot:hover {
    transform: scale(1.35);
    background-color: #1e6ef4;
}

.pot.live,
.ctrl div:hover {
    background-color: #1e6ef4;
}

.ctrl {
    position: absolute;
    z-index: 2;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.ctrl div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    transition: all 0.5s;
    border-radius: 1rem;
    background-color: #1c1c1e;
    cursor: pointer;
    border: 0.2rem solid #f2f2f7;
    transform: scale(0);
}

.ctrl div svg {
    width: 3rem;
    height: 3rem;
    color: #f2f2f7;
}

.center {
    margin: 15% auto;
}

.bottom {
    height: 30rem;
    width: 100vw;
    position: absolute;
    bottom: 0%;
    pointer-events: none;
}

.bottom_txt {
    background-image: url("../img/Milky_way.jpg");
    background-size: contain;
    background-position: 50% 50%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 50%;
    bottom: 0%;
}

.bottom_txt span {
    font-size: 8rem;
    margin: 0% 5%;
    color: #f2f2f7;
    font-weight: bold;
}

.bottom img {
    position: absolute;
    object-fit: cover;
    bottom: 0%;
    width: 100%;
}

.bottom_bg {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, #000000 50%, #1c1c1e 100%);
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1c1c1e;
    font-size: 4rem;
    font-weight: bold;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mask a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 35vw 2rem #f2f2f700;
    transition: all 0.5s;
    border: 0.2rem solid #1c1c1e;
    background-color: #f2f2f7;
    border-radius: 1rem;
    animation: roll 1.5s ease-in-out infinite;
    padding: 1.5%;
}

.mask a img {
    transition: all 0.5s;
    width: 7vw;
}

.mask a:hover {
    box-shadow: 0 0 2rem 1rem #f2f2f7;
}

.mask p {
    margin-top: 7%;
    color: #f2f2f7;
    font-size: 4rem;
    font-weight: bold;
}