@font-face {
    font-family: "阿里妈妈方圆体 VF Regular";
    src: url("../webfonts/AlimamaFangYuanTiVF-Thin.woff2") format("woff2"),
        url("../webfonts/AlimamaFangYuanTiVF-Thin.woff") format("woff");
}

* {
    font-family: "阿里妈妈方圆体 VF Regular";
    font-variation-settings: "BEVL" 100;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    vertical-align: middle;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    position: relative;
    background-color: #0d1117;
    height: 300vh;
}

.top {
    position: relative;
    height: 100vh;
}

.top_bg {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.top_bg img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.top_bg span {
    height: 150px;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #000000, #0d1117);
    position: absolute;
    bottom: -149px;
}

.top_box {
    border: 3px solid #0d1117;
    padding: 1%;
    backdrop-filter: blur(7px);
    border-radius: 15px;
}

.top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.top_left {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_left a {
    transition: all .5s;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #e6edf3;
    -webkit-text-stroke: 1px #e6edf300;
}

.top_left a:hover {
    -webkit-text-stroke: 1px #e6edf3;
    color: #0d1117;
}

.logo {
    display: flex;
    box-shadow: 0 0 350px 15px #0d1117;
    border: 3px solid #0d1117;
    background-color: #e6edf3;
    width: 75px;
    height: 75px;
    border-radius: 15px;
}

.logo:hover {
    box-shadow: 0 0 35px 15px #e6edf3;
}

.logo img {
    margin: auto;
    width: 50px;
}

.top_right {
    width: 35%;
    position: relative;
    height: 35px;
}

.search {
    width: 80%;
    height: 100%;
    border: none;
    background: none;
    margin-left: 7%;
    margin-right: 15%;
    font-size: 20px;
    font-weight: bold;
    color: #e6edf3;
    cursor: pointer;
}

.top_right label {
    position: absolute;
    bottom: 7px;
    color: #e6edf3;
    font-weight: bold;
    font-size: 25px;
    pointer-events: none;
    transition: all .5s;
    margin-left: 5%;
}

.search:focus~label,
.search:valid~label {
    transform: translateY(-25px);
    margin-left: 3%;
    font-size: 20px;
    color: #1f6feb;
}

.search_line1,
.search_line2 {
    position: absolute;
    background-color: #e6edf3;
    bottom: -5px;
    height: 5px;
    border-radius: 15px;
    width: 90%;
}

.search_line1 {
    transition: all .5s;
    background-color: #1f6feb;
    transform: scaleX(0);
    z-index: 1;
}

.search:focus~.search_line1,
.search:valid~.search_line1 {
    transform: scaleX(1.001);
}

.search_b {
    display: flex;
    position: absolute;
    transition: all .5s;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    border: #e6edf3 solid 3px;
    background-color: #0d1117;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search_b span {
    margin: auto;
    background-color: #e6edf3;
    border: #e6edf3 solid 3px;
    transition: all .5s;
    color: #0d1117;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.search:focus~.search_b,
.search:valid~.search_b {
    border-color: #1f6feb;
}

.search:focus~.search_b span,
.search:valid~.search_b span {
    color: #e6edf3;
    background-color: #0d1117;
}

.top_wea {
    width: 100%;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
}

.top_wea p {
    color: #e6edf3;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.slider {
    margin-top: 3%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
}

.pic_list {
    position: relative;
    pointer-events: none;
}

.pic_list p {
    z-index: 25;
    transition: all .5s;
    position: absolute;
    font-weight: bold;
    color: #e6edf3;
}

.pic_txt1 {
    bottom: 1%;
    right: 1%;
    font-size: 25px;
}

.pic_txt2 {
    bottom: .5%;
    width: 100%;
    text-align: center;
    right: 50%;
    transform: translateX(50%);
}

.pic {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .5s;
}

.pic img {
    width: 100%;
    border-radius: 15px;
    border: #0d1117 solid 3px;
}

.pic.live {
    opacity: 1;
    z-index: 10;
}

.pot_list {
    z-index: 25;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    right: 50%;
    bottom: 3%;
    transform: translateX(50%);
}

.pot_list div,
.pot_list span {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    transition: all .5s;
    border-radius: 15px;
    background-color: #0d1117;
    cursor: pointer;
    color: #e6edf3;
    border: 3px solid #e6edf3;
    font-weight: bold;
    font-size: 25px;
}

.pot.live {
    background-color: #1f6feb;
}

.bottom {
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

.bottom img {
    width: 100%;
}

.bottom span {
    height: 500px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to top, #000000, #000000, #0d1117);
}