@font-face {
  font-family: "iconfont"; /* Project id 3236730 */
  src: url('iconfont.woff2?t=1664327049742') format('woff2'),
       url('iconfont.woff?t=1664327049742') format('woff'),
       url('iconfont.ttf?t=1664327049742') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e600";
}

.icon-upbxiangshang:before {
  content: "\e61b";
}

.icon-xiangshang:before {
  content: "\e64f";
}

.icon-xiangshangjiantouquan:before {
  content: "\e657";
}

.icon-xiangshang1:before {
  content: "\e658";
}

.icon-xiangshangshouqi-yuankuang:before {
  content: "\e8f3";
}

.icon-icon-test:before {
  content: "\e60a";
}

.icon-Upxiangshang12:before {
  content: "\e6e5";
}

.icon-biaodan:before {
  content: "\e650";
}

.icon-anniu:before {
  content: "\e651";
}

.icon-ditu:before {
  content: "\e652";
}

.icon-lunbo:before {
  content: "\e653";
}

.icon-gouwuche:before {
  content: "\e654";
}

.icon-shejiao:before {
  content: "\e655";
}

.icon-wenzhangliebiao:before {
  content: "\e656";
}

.icon-shouyeicon:before {
  content: "\e663";
}

.icon-a-1-Increase:before {
  content: "\e769";
}

.icon-bingtutubiao:before {
  content: "\e98c";
}

